.center {
  text-align: center;
}
.image-style {
  width: 400px;
}
.image-style2 {
  width: 400px;
  vertical-align: top;
}
.image-style3 {
  width: 900px;
  vertical-align: top;

}
body{
  background-image: url(http://www.redmoonrising.com/images/stars.jpg);
  color:white;
}
h1{
  font-size: 60px;
}

p{
  text-align: center;
  font-size: 40px;
}

.daniel {
  margin-top: 80px;
}
